/* assets/css/custom.css */

#top .hero-block-container .max-w-2xl {
    max-width: 100% !important; 
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#top .hero-block-container h1 {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: clip !important;
}

#about .max-w-prose {
    max-width: 125ch !important;
    margin: 0 auto;
    text-align: justify;
}

#speakers .max-w-prose {
    max-width: 80ch !important;
    margin: 0 auto;
}

#speakers .content .prose div[style*="margin: 40px"] {
    margin-top: 10px !important; 
    margin-bottom: 10px !important;
}

#top .hero-block-container .text-lg {
    font-size: 1.5rem !important; 
    line-height: 2.25rem !important;
}

.navbar-brand {
    height: 60px !important;
    padding: 10px 0 !important;
}

.navbar-brand svg,
.navbar-brand img {
    max-height: 60px !important;
    height: 100% !important;
    width: auto !important; 
}

#sponsors .content div[style*="display: flex"] {
    max-width: 800px !important; 
    margin: 0 auto !important;
}

#sponsors .content div a {
    width: 30% !important; 
    max-width: 30% !important; 
    padding: 10px !important;
    margin: 15px 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsors .content div img {
    max-height: 60px !important;
    width: auto !important;
}
