#top .hero-block-container .max-w-2xl {
    max-width: 100% !important; 
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#top .hero-block-container h1 {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: clip !important;
}

#about .max-w-prose {
    max-width: 125ch !important;
    margin: 0 auto;
    text-align: justify;
}

#speakers .max-w-prose {
    max-width: 100ch !important;
    margin: 0 auto;
}

.navbar-brand {
    height: 50px !important;
}

.navbar-brand svg {
    max-height: 50px !important;
    width: auto !important; 
}
