<link rel="shortcut icon" href="{{ "iisc-logo.png" | relURL }}?v=1.1" type="image/png">
<link rel="icon" type="image/png" href="{{ "iisc-logo.png" | relURL }}?v=1.1">
<link rel="apple-touch-icon" href="{{ "iisc-logo.png" | relURL }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40BefM6u3XFbl2x2t+H10Jb8z2S7gA7v6zNnJqT12T/Hwz9qK5/JgL5F25v6gNlVv8f6gNlVv8f6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
